<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head"></head>

<body th:classappend="${globalTema == 'dark' ? 'dark-mode' : ''}">
    <main class="py-4">
        <div class="container col-md-4">
            <div class="card mt-5">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Login do Sistema</h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/login}" method="post">
                        <div class="mb-3">
                            <label for="login" class="form-label">Usuário</label>
                            <input type="text" id="login" name="username" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input type="password" id="senha" name="password" class="form-control" required>
                        </div>
                        <button class="btn btn-primary w-100">Entrar</button>
                        <div th:if="${param.error}" class="alert alert-danger mt-3">Usuário ou senha inválidos!</div>
                        <div th:if="${param.logout}" class="alert alert-success mt-3">Logout realizado com sucesso!
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>